.App {
  text-align: center;
}

body {
  background-image: url('./images/background.png');
  color: white;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-size: 35px;
  font-weight: lighter;
  border: 1px groove white;
  border-radius: 15px;
  margin: 5px 400px;
}

.imagens {
  display: flex;
  margin: 50px 0;
}

.nomeImagem {
  text-align: center;
  margin: auto;
}

img {
  width: 240px;
}

image:first-of-type {
  width: 10px;
}

.espaco_missao {
  display: flex;
  border: 1px solid white;
  border-radius: 15px;
  flex-wrap: wrap;
  margin: 25px 400px;
  justify-content: space-between;
}

.missao {
  border: 1px groove white;
  border-radius: 15px;
  margin: 20px;
  padding: 10px 20px;
}

.nome_missao {
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  border-bottom: 1px groove white;
  margin-top: 0;
}