/* * {
   border: 1px solid black; 
} */

body {
  margin: 0px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  height: 50px;
}

#trybewarts-header-title {
  margin: 0%;
}

.trybewarts-header-logo {
  width: 100px;
  height: 50px;
  display: block;
}

main {
  display: flex;
  line-height: 30px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  /* padding-left: 70px;
  padding-top: 10px; */
  margin-left: auto;
  margin-right: auto;
}

#formulario {
  text-align: center;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#password {
  height: 20px;
  border-radius: 5px;
}

#email {
  height: 20px;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
}

#house {
  display: inline-block;
  border-radius: 5px;
}

.logo-trybewarts {
  align-items: center;
  text-align: center;
}

#trybewarts-forms-logo {
  width: 400px;
  height: 500px;
  
}

#nome {
 margin: 5px;
}

#selecionar {
  margin: 10px;
}

.labels {
  display: grid;
}

.labels label {
  padding-right: 20px;
}

#checkbox {
  display: grid;
  order: 2; /* Trocado a ordem para ficar igual a imagem do README */
  width: 60%;
}

#label-content {
  display: inline;
}

#familia {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.rate {
  display: flex;
  justify-content: space-around;
}

#label-rate {
  display: inline-block;
}

.comentario {
  display: flex;
  flex-direction: column;
}

.textarea {
  display: inline;
}

#texto {
  resize: none;
}

#entrar {
  display: block;
  height: 25px;
  margin: 5px;
}

footer {
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: rgb(53, 52, 52);
  font-size: 18px;
  color: white;
  display: flex;
}

#casa {
  padding: 0px;
}

.topic-house {
  border-radius: 5px;
}